<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Way</th>
    <th scope="col">Profit %</th>
    <th scope="col">Finish Coins</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>

  <% (forks).each_with_index do |fork, index| %>
    <%= render partial: 'fork/row', locals: {id: index, fork: fork} %>
  <% end %>

  </tbody>
</table>