<div id="pairs" class="form-group">
  <%= label_tag('Selected Pairs', 'Selected Pairs:  ', class: 'font-weight-bold') %>
  <% pairs.group_by(&:numerator).each do |currency, pairs| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-1">
            <%= label_tag(currency, currency.to_s + ':  ', class: 'font-weight-bold col-sm-2 col-form-label badge badge-light') %>
          </div>

          <div class="col-md-11">
            <% pairs.each do |pair| %>
                <div class="form-check form-check-inline">
                  <%= check_box_tag('pairs[]', pair, true, class: "#{pair.numerator} #{pair.denominator}") %>
                  <%= label_tag(pair, pair, class: 'badge badge-secondary') %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>